.slider {
   background: linear-gradient(90deg, #cdced2, #c5c6ca);

   &__item {
      display: flex;
      align-items: center;
      padding: 0 60px;
      box-sizing: border-box;
   }

   &__img {
      flex-basis: 50%;
      align-self: flex-end;
      img {
         display: block;
         max-width: 100%;
      }
   }

   &__info {
      flex-basis: 50%;
      padding-left: 70px;
      box-sizing: border-box;
      p {
         font-size: 14px;
         line-height: 26px;
         color: $slider-text;
         margin: 25px 0;
      }

      .slider__title {
         font-size: 116px;
         line-height: 107px;
         font-weight: 600;
         color: $slider-title;
         letter-spacing: 2.32px;
         text-transform: uppercase;
      }

      .slider__type {
         font-size: 18px;
         line-height: 25px;
         font-weight: 600;
         color: $black;

         span {
            font-size: 14px;
            letter-spacing: 1.12;
            font-weight: 300;
            margin-left: 25px;
         }
      }
   }
   &__icons {
      display: flex;
      flex-wrap: wrap;
      margin: 25px;

      a {
         width: 37px;
         height: 37px;
         border: 1px solid $black;
         border-radius: 50%;
         margin-right: 20px;
         position: relative;

         &:first-of-type {
            background-color: $black;
         }

         &:last-of-type {
            margin-right: 0;
         }

         img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
   }
   &__btn {
      @include btn();
   }
}

@media (max-width: 1300px) {
   .slider {
      &__info {
         .slider__title {
            font-size: 70px;
            line-height: 80px;
         }
      }
   }
}

@media (max-width: 960px) {
   .slider {
      &__img {
         display: none;
      }

      &__info {
         padding-left: 0;
         flex-basis: 100%;
      }
   }
}

@media (max-width: 768px) {
   .slider {
      &__info {
         .slider__icons, p {
            margin: 15px 0;
         }

         .slider__title {
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 1px;
         }
      }
   }
}

@media (max-width: 480px) {
   .slider {
      &__item {
         padding: 0 15px;
      }
      &__info {
         .slider__title {
            font-size: 30px;
            line-height: 40px;
         }
      }
   }
}